Lab 4

In [38]:
tuple1 = [(15,16,18,36),(18,12,457,235),(154,15,26)]
min_list = []
max_list = []
for t in tuple1:
    min_list.append(min(t))
    max_list.append(max(t))

print("minimum number::",min(min_list))
print("maximum number::",max(max_list))

TypeError: 'int' object is not callable

In [39]:
cel = (0,10,20,30,40)
fah = (32,50,68,86,104)

cel_fah = tuple((temp * 9/5) + 32 for temp in cel)
fah_cel = tuple((temp - 32) * 5/9 for temp in fah)

print("initial celcius:",cel)
print("celcius->fahrenheit",cel_fah,"\n")

print("initial fahrenheit:",fah)
print("fahrenheit->celcius",fah_cel)

TypeError: 'list' object is not callable

In [52]:
item = (15,36,254,14,78,52,63)
total = 0
for i in item:
    total += i

print("initial items:",item)
print("\nthere sum total::",total)

initial items: (15, 36, 254, 14, 78, 52, 63)

there sum total:: 512

In [51]:
list1 = [12,13,14,15,16]
list2 = [22,23,24,25,26]

print("list 1:",list1)
print("list 2:",list2)

print("\nUnion ::",list1+list2)

list 1: [12, 13, 14, 15, 16]
list 2: [22, 23, 24, 25, 26]

Union :: [12, 13, 14, 15, 16, 22, 23, 24, 25, 26]

In [49]:
dict1 = {'a':100,'b':200,'c':300}
dict2 = {'a':150,'b':250,'d':400}

combined_dict = dict1.copy()
for key in dict2:
    if key in combined_dict:
        combined_dict[key] += dict2[key]
    else:
        combined_dict[key] = dict2[key]
print("Dictionary 1:",dict1)
print("Dictionary 2:",dict2,"\n")
print(f"Combined dictionary is::{combined_dict}")

Dictionary 1: {'a': 100, 'b': 200, 'c': 300}
Dictionary 2: {'a': 150, 'b': 250, 'd': 400}

Combined dictionary is::{'a': 250, 'b': 450, 'c': 300, 'd': 400}

In [50]:
dict = {'a':10,'b':22,'c':3}
total = 1

for key in dict:
    total *= dict[key]
    
print(dict)
print("\ntotal =",total)

{'a': 10, 'b': 22, 'c': 3}

total = 660

In [53]:
fact_cache = {}
def factor (n):
    if n in fact_cache:
        return factor_cache[n]
    if n==0 or n==1:
        result = 1
    else:
        result = n*factor(n-1)
    fact_cache[n] = result
    return result

number = int(input("Enter a number to find factorial::"))
fact_result = factor(number)
print("factorial of ",number," is ",fact_result)

Enter a number to find factorial:: 7

factorial of  7  is  5040